# enter env
export NIXPKGS_ALLOW_UNFREE=1
if [[ -e /run/opengl-driver/lib ]]; then
  # nixos or nix-system-graphics
  use flake . --impure
elif command -v nvidia-smi >/dev/null; then
  # fhs distro with cuda
  use flake .#nixgl-nvidia --impure
else
  # fhs distro with intel
  use flake .#nixgl-intel --impure
fi

